<%= turbo_frame_tag "new-todo",  data: { turbo_frame: "new-todo" }  do %>
<p style="color: green"><%= notice %></p>

<div class="add_todo">
  <%= link_to "Add New todo", new_todo_path %>
</div>
<% end %>
<h1>Todos</h1>

<div id="todos">
  <% @todos.each do |todo| %>
    <%= render todo %>
    <p>
      <%= link_to "Show this todo", todo %>
    </p>
  <% end %>
</div>

